In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('SparkGroupAggr').getOrCreate()

23/01/10 11:59:24 WARN Utils: Your hostname, alexa-HP-ProBook-450-G8-Notebook-PC resolves to a loopback address: 127.0.1.1; using 192.168.1.74 instead (on interface wlp0s20f3)
23/01/10 11:59:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 11:59:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/10 11:59:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/01/10 11:59:25 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/01/10 11:59:25 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
df = spark.read.csv('test.csv', header=True, inferSchema=True)

In [7]:
# GroupBy
# Find max salary by city
df.groupBy('City').max('Salary').show()

+--------+-----------+
|    City|max(Salary)|
+--------+-----------+
|  Jersey|      69000|
|New-York|      77000|
| Atlanta|      78000|
|   Miami|      65000|
|   Ostin|      75000|
+--------+-----------+

In [8]:
df.groupBy('City').mean('Salary').show()

+--------+-----------+
|    City|avg(Salary)|
+--------+-----------+
|  Jersey|    69000.0|
|New-York|    71000.0|
| Atlanta|    77000.0|
|   Miami|    62500.0|
|   Ostin|    74000.0|
+--------+-----------+

In [9]:
df.groupBy('City').count().show()

+--------+-----+
|    City|count|
+--------+-----+
|  Jersey|    1|
|New-York|    2|
| Atlanta|    2|
|   Miami|    2|
|   Ostin|    2|
+--------+-----+

In [10]:
df.groupBy('City').agg({'Salary': 'sum'}).show()

+--------+-----------+
|    City|sum(Salary)|
+--------+-----------+
|  Jersey|      69000|
|New-York|     142000|
| Atlanta|     154000|
|   Miami|     125000|
|   Ostin|     148000|
+--------+-----------+