In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('SparkDataManipulation').getOrCreate()

23/01/10 10:39:58 WARN Utils: Your hostname, alexa-HP-ProBook-450-G8-Notebook-PC resolves to a loopback address: 127.0.1.1; using 192.168.1.74 instead (on interface wlp0s20f3)
23/01/10 10:39:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 10:39:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/10 10:40:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [12]:
df = spark.read.csv('test.csv', header=True, inferSchema=True)

In [13]:
df.show()

+-----+----+--------+
| Name| Age|    City|
+-----+----+--------+
| Jane|  27|New-York|
| John|  29| Atlanta|
|  Jen|  33|    null|
|  Tom|  40|    null|
|  Ron|null|   Ostin|
|Shawn|null|    null|
+-----+----+--------+

In [14]:
# Drop all rows with null values

df.na.drop().show()

+----+---+--------+
|Name|Age|    City|
+----+---+--------+
|Jane| 27|New-York|
|John| 29| Atlanta|
+----+---+--------+

In [15]:
# Drop with 'how' option
# 'all' means that all columns should have null value
# 'any' used by default

df.na.drop(how='all').show()

+-----+----+--------+
| Name| Age|    City|
+-----+----+--------+
| Jane|  27|New-York|
| John|  29| Atlanta|
|  Jen|  33|    null|
|  Tom|  40|    null|
|  Ron|null|   Ostin|
|Shawn|null|    null|
+-----+----+--------+

In [16]:
# Drop with 'thresh' option
# with 'thresh' option we can limit how many non-null values in row should
# be so that we keep this row in dataframe

df.na.drop(thresh=2).show()

+----+----+--------+
|Name| Age|    City|
+----+----+--------+
|Jane|  27|New-York|
|John|  29| Atlanta|
| Jen|  33|    null|
| Tom|  40|    null|
| Ron|null|   Ostin|
+----+----+--------+

In [17]:
# Drop with 'subset' option
# With this option we can point columns so that
# if row has a null value in these columns, we delete this row

df.na.drop(subset=['City']).show()

+----+----+--------+
|Name| Age|    City|
+----+----+--------+
|Jane|  27|New-York|
|John|  29| Atlanta|
| Ron|null|   Ostin|
+----+----+--------+

In [19]:
df.na.fill('value').show()

+-----+----+--------+
| Name| Age|    City|
+-----+----+--------+
| Jane|  27|New-York|
| John|  29| Atlanta|
|  Jen|  33|   value|
|  Tom|  40|   value|
|  Ron|null|   Ostin|
|Shawn|null|   value|
+-----+----+--------+

In [21]:
!pip install numpy

Collecting numpy
  Using cached numpy-1.24.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
Installing collected packages: numpy
Successfully installed numpy-1.24.1

In [27]:
# Fill with mean values
# We should use Imputer function

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age'],
    outputCols=[f'{c}_imputed' for c in ['Age']]
).setStrategy('mean')

In [28]:
imputer.fit(df).transform(df).show()

+-----+----+--------+-----------+
| Name| Age|    City|Age_imputed|
+-----+----+--------+-----------+
| Jane|  27|New-York|         27|
| John|  29| Atlanta|         29|
|  Jen|  33|    null|         33|
|  Tom|  40|    null|         40|
|  Ron|null|   Ostin|         32|
|Shawn|null|    null|         32|
+-----+----+--------+-----------+

In [29]:
df.show()

+-----+----+--------+
| Name| Age|    City|
+-----+----+--------+
| Jane|  27|New-York|
| John|  29| Atlanta|
|  Jen|  33|    null|
|  Tom|  40|    null|
|  Ron|null|   Ostin|
|Shawn|null|    null|
+-----+----+--------+

### Filter operations