In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('SparkFilterOperations').getOrCreate()

23/01/10 11:37:04 WARN Utils: Your hostname, alexa-HP-ProBook-450-G8-Notebook-PC resolves to a loopback address: 127.0.1.1; using 192.168.1.74 instead (on interface wlp0s20f3)
23/01/10 11:37:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 11:37:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/10 11:37:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/01/10 11:37:06 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [4]:
df = spark.read.csv('test.csv', header=True, inferSchema=True)
df.show()

+-----+----+--------+------+
| Name| Age|    City|Salary|
+-----+----+--------+------+
| Jane|  27|New-York| 65000|
| John|  29| Atlanta| 78000|
|  Jen|  33|    null| 77000|
|  Tom|  40|    null| 75000|
|  Ron|null|   Ostin| 73000|
|Shawn|null|    null| 69000|
+-----+----+--------+------+

### Filter operations

In [5]:
df.filter('Salary < 70000').show()

+-----+----+--------+------+
| Name| Age|    City|Salary|
+-----+----+--------+------+
| Jane|  27|New-York| 65000|
|Shawn|null|    null| 69000|
+-----+----+--------+------+

In [6]:
df.filter('Salary < 70000').select(['Age', 'Name', 'City']).show()

+----+-----+--------+
| Age| Name|    City|
+----+-----+--------+
|  27| Jane|New-York|
|null|Shawn|    null|
+----+-----+--------+

In [10]:
df.filter((df['Salary'] < 79000 ) & (df['Salary'] > 70000)).show()

+----+----+-------+------+
|Name| Age|   City|Salary|
+----+----+-------+------+
|John|  29|Atlanta| 78000|
| Jen|  33|   null| 77000|
| Tom|  40|   null| 75000|
| Ron|null|  Ostin| 73000|
+----+----+-------+------+

In [11]:
#Not condition

df.filter(~((df['Salary'] < 79000 ) & (df['Salary'] > 70000))).show()

+-----+----+--------+------+
| Name| Age|    City|Salary|
+-----+----+--------+------+
| Jane|  27|New-York| 65000|
|Shawn|null|    null| 69000|
+-----+----+--------+------+